Flask==2.3.3
Werkzeug==2.3.7
Flask-WTF==1.2.1
WTForms==3.1.2
APScheduler==3.10.4
twilio==8.10.3
together==1.5.26
reportlab==4.0.7
gunicorn==21.2.0
pymysql==1.1.0
Jinja2==3.1.4
click==8.1.8
itsdangerous==2.1.2
MarkupSafe==2.1.5
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
tzlocal==5.2
requests==2.32.3
urllib3==2.2.2
certifi==2024.6.2
charset-normalizer==3.3.2
idna==3.7
PyJWT==2.8.0
pyparsing==3.1.2
